{% extends "base.html" %}
{% block content %}
<style>
    #snackbar {
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <script>
        
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function iKnowFunc(a){
            var x = document.getElementById("snackbar");
            x.textContent = "یه کلمه دیگه یاد گرفتی برو بعدی"
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
            });
            $.ajax({
                url: '/flashcards/result/',
                data: {'result': 1, 'id': a},
                type: 'POST',
            }).done(function(response){
                console.log(response);
            });
	
        }
        function iLearnFunc(a){
            var x = document.getElementById("snackbar");
            x.textContent = "نرینی سلطان"
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            console.log(a)
            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
            });
            $.ajax({
                url: '/flashcards/result/',
                data: {'result': 0 , 'id':a},
                type: 'POST',
            }).done(function(response){
                console.log(response);
            });
	
        }

    </script>
    <style>
    

    </style>
    <div class="ui container" style="margin-top: 1em;">
        <h1> {{ set.movie_name }} </h1>
        {% if set.flashcard_set.all %}
        
        <div class="ui cards"  >
            {% for flashcard in set.flashcard_set.all %}
                <div class="flip_card ui card" style="background-color: rgba(0, 255, 0, 0.3);">
                    
                    <div class="content center aligned front" style="-webkit-transform:rotateY(0deg);" >
                        <br>
                        <h2> {{ flashcard.english_word }} </h2>
                    </div>
                    <div class="content center aligned back" id="id1" >
                        <h3> {{ flashcard.english_word }} </h3>
                        <div class="content">
                            <h3> {{ flashcard.translation }} </h3>
                        </div> <br>
                        <div class="extra content">
                            <div class="ui bottom attached medium buttons">
                                <button class="positive ui button"  onclick="iKnowFunc('{{flashcard.id}}')" >I know</button>
                                <div class="or"></div>
                                <button class="negative ui button" onclick="iLearnFunc('{{flashcard.id}}')" >I learn</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="snackbar"></div>

            {% endfor %}
        </div>
        {% else %}
            <h2>This movie deck does not have any flashcards.</h2>
        {% endif %}
        <br>
    </div>
    <script>
        $(function($) {
            $(".flip_card").flip();
            $(".positive").flip();

        })
  
    </script>
{% endblock content %}
