{% extends "base.html" %}
{% block content %}

<img class="ui centered small circular image" src="/media/logo.jpeg">

<div class="ui grid" style="margin: auto; min-height: 80%;">
    <div class="twelve wide stretched column" style="margin: auto;">
            
            <div class="ui container" style="margin-top: 1em;">
                <form class="ui form" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="l0bHam2UJFEcmHq9eSWE0ga8jrrX4EEvpdURwlsMtMO4C57kCXFOYP6qXlW8S9Nc">

                        <div class="field">
                            <label>Email address</label>
                            <input type="email" name="email" maxlength="254" placeholder="joey@gmail.com" id="id_email">
                        </div>
                    <button class="ui button" type="submit">Submit</button>
                </form>
            </div>
    </div>
</div>

{% endblock content %}
