{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Forgot Password</title>
   
</head>
<body style="text-align:center">
    <div>
        <img class="ui centered small circular image" src="/media/logo.jpeg">
        <br><br><br>
        <label>
            <h2>
                Enter your mail address here 
            </h2>
        </label>
        <br>
        
        <div class="ui input focus" style="text-align: center;">
            <input type="email" name="email" placeholder="joey@gmail.com" >
        </div>
        <div class="ui submit button" type="submit">Submit</div>
    </div>
</div>

{% endblock content %}
