{% extends "base.html" %}
{% block content %}
    <img class="ui centered small circular image" src="/media/logo.jpeg">    
    <div class="ui container" cstyle="margin-top: 1em;">

    <div class="ui container" style="margin-top: 0; background-color: antiquewhite; border: none;">
        <form class="ui form" method="POST">
            {% csrf_token %}
            
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="ui red message">
                            Error with field {{ field.label }}: {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% if form.non_field_errors %}
                    <div class="ui red message">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
            {% endif %}
            
            {% for field in form %}
                <div class="field">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div class = "field" style="margin-top: 1em;">
                <a href="{% url 'users:password_reset' %}"> Forgot Password</a>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
        <div class = "field" style="margin-top: 1em;">
            Don't have an account? <a href="{% url 'users:register' %}"> Sign up</a>
        </div>
    </div>
{% endblock content %}
