{% extends "base.html" %}
{% block content %}

    
<img class="ui centered small circular image" src="/media/logo.jpeg">

    <div class="ui grid" style="margin: auto; min-height: 80%;">    
        <div class="twelve wide stretched column" style="margin: auto;">
            <div class="ui segment">
                
                <div class="ui container" style="margin-top: 1em;">
                    <form class="ui form" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="2hjCJqPQNzIQWs5KYP45Wd40nxOKbily6u2M5pfIxGSIcQMVmUNfUM0i1rjVZNuf">
                        
                            <div class="field">
                                <label>Password</label>
                                <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
                            </div>
                        
                            <div class="field">
                                <label>Password confirmation</label>
                                <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
                            </div>    
            
                        <button class="ui button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
