{% extends 'base.html' %}

{% block content %}
<br>
<img class="ui centered small circular image" src="/media/logo.jpeg">    

<div class="ui grid" style="margin: auto; min-height: 80%;">    
  <div class="twelve wide stretched column" style="margin: auto;">
          
          <div class="ui container" style="margin-top: 1em;">
            <form class="ui form" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Submit</button>
            </form>
          </div>
  </div>
</div>
  
{% endblock %}