{% extends 'base.html' %}

{% block content %}
  <img class="ui centered small circular image" src="/media/logo.jpeg">
  <div class="ui grid" style="margin: auto; min-height: 80%;">    
    <div class="twelve wide stretched column" style="margin: auto;">
      <div class="ui segment">      
        <div class="ui container" style="text-align: center;">
          <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}