{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    
    <img class="ui centered small circular image" src="/media/logo.jpeg">

    <div class="ui grid" style="margin: auto; min-height: 80%;">    
        <div class="twelve wide stretched column" style="margin: auto;">
            <div class="ui segment">
                
                <div class="ui container" style="margin-top: 1em;">
                  <form class="ui form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Change password</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}