<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search for subtitles</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>
<body>
	


<div class="wrapper">
	<input type="text" class="input" id="movieName"
	placeholder="Enter The movie name...">
	<button class="searchbtn" onclick="search_movie()"><i class="fas fa-search"></i></button>
</div>
<script src="searchMovie.js"></script>
</body>
</html>